Source: ur-web
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), perl, libdancer-perl
Build-Depends-Indep: perl (>= 5.9.5)
Maintainer: Matthew Callaway <mcallawa@genome.wustl.edu>

Package: ur-web
Architecture: all
Depends: perl (>= 5.9.5), libdancer-perl
Description: A standalone web application for UR
 A standalone web application for UR.
